<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="shortcut icon" href="{{ '/images/favicon/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ '/stylesheet.css' | relative_url }}?v={{ site.time | date: '%s' }}">

    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['\\(', '\\)'], ['$', '$']],
          displayMath: [['\\[', '\\]'], ['$$', '$$']],
          processEscapes: true,
          tags: 'ams'
        },
        options: {
          skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>

  <body>
    <div class="page">

      <header class="site-header">
        <a class="site-home" href="{{ '/' | relative_url }}">Jialin Li's Homepage</a>
      </header>

      <main class="content">
        {{ content }}
      </main>

    </div>
  </body>
</html>
